*{
    margin:0;
    padding:0;
}

body{

    font-family: 'Poppins', sans-serif;
}

.half-part{

    width: 50%;
}

.half-part img{

    width: 80%;
    margin-top: 50px;
}

.flexible-area{

    display: flex;
}

.content-set{

    margin-top: 180px;
    margin-left: 100px;
    
}

.focused-mission{

    border-left: 4px solid;
    border-image: linear-gradient(purple,blue);
    border-image-slice: 1;
    
    
}

.focused-mission h1{

    font-size: 60px;
    padding-left: 10px;
   
}

.focused-mission .blue-mission{

    color:blue
}

.content-set p{

    margin-top: 30px;
}

.btn{
    text-decoration: none;
    font-size: 18px;
    
    background-image: linear-gradient(blue,purple);
    color:white;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 6px;
}


