*{
    margin:0;
    padding:0;
}

body{

    font-family: 'Poppins', sans-serif;
}

.half-part{

    width: 50%;
}

.half-part img{

    width: 80%;
    margin-top: 50px;
}

.flexible-area{

    display: flex;
}

.content-set{

    margin-top: 180px;
    margin-left: 100px;
    
}



.focused-mission h1{

    font-size: 60px;
    padding-left: 10px;
     
}

.focused-mission .border-clr{

    border-left: 4px solid;
    border-image: linear-gradient(purple,blue);
    border-image-slice: 1;
    height: 150px;
    
}


.focused-mission .blue-mission{

    color:blue
}

.content-set p{

    margin-top: 30px;
}

.btn{
    text-decoration: none;
    font-size: 18px;
    
    background-image: linear-gradient(blue,purple);
    color:white;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 6px;
}

.dimgray-p{

    color:dimgray;
}

.second-section{

    margin-top: 50px;
    text-align: center;
}

.second-section span{

    color:blue;
}

.second-section .mission-second{

    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;

}

.card{

    width: 30%;
    margin-right: 2%;
    padding:0px 1%; 
}


.card img{

    width: 40%;
    margin-right: 95%;
    margin-top: 10%; 
}

.card h2{

    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
      
}

.card p{

    text-align: left;
    padding-left: 20px;
}

.firstcard{

    background-color: #FFF4D6;
    margin-left: 100px;
    border-radius: 15px;
    padding-bottom: 5px;
}

.secondcard{

    background-color: #EDF5F6;
    border-radius: 15px;
    padding-bottom: 5px;
}

.thirdcard{
    background-color: #FFEEEE;
    border-radius: 15px;
    padding-bottom: 20px;
    
}


.third-section{

    margin-top: 50px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: left;
    
}



.third-section .second-pic{

    margin-left: 100px;
}

.third-section .second-pic img{

    width: 70%;
    margin-top: 18%;
}

.develop-unit h1{

    font-size: 40px;

}

.thirdcontent{

   
    margin-top: 180px;
    margin-left: 10px;
}

.forth-section .third-pic img{

    width: 70%;
    margin-top: 18%;
    margin-left: 14%;
}

.forth-section{

    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    
    background-position: right;
    
    background-size: 15%;

   
}

.forthcontent{

   
    margin-top: 180px;
    margin-left: 100px;
}